* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


:root {
 /* primer esquema de colores */
  --primary-color: #1D2637;
  --secondary-color: #242C40;
  --third-color: #EE9C02;
  --fourth-color: #6380E1;
  --fifth-color: #C747E7;
  --color-white: #FFFFFF;


  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;

 /* segundo esquema de colores */
  --color-green-1: #007C3D;
  --color-green-2: #00A14F;
  --color-blue-1: #16395D;
  --color-blue-2: #356489;
  --color-blue-3: #507DA4;
}


.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: #F56692;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1-light: #6c7983;
  --color-grey-2-light: #6c7983;
  --color-grey-3-light: #6c7983;
  --color-grey-4-light: #454e56;
  --color-grey-5-light: #f8f8f8;
  --color-grey-6-light: #12181b;
}


body {
  font-size: 1.1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}


/*header*/

/*images*/
header {
  display: flex;
  min-height: 100vh;
  background-image: url("../images/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


.section-cover {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100vW;
  height:100vh;
  align-items: center;
  justify-content: center;
}


.section-cover .image {
  display: flex;
  align-items: center;
  justify-content: center;
}


.section-cover .image img {
  display:flex;
  width: 250px;
  height: auto;
  border-radius: 15%;
}


.section-cover .nav .ul {
  justify-content: center;
}


/*controlls*/

nav .ul {
  display: flex;
}


nav ul li {
  display: flex;
  width: 12px;
  height: 12px;
  margin: 0 15px 0 15px;
  padding: 1.4rem 1.4rem 1.4rem 1.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
}


nav ul li i {
  font-size: 1.3rem;
}


.section-cover .controlls {
  position: absolute;
  top: 450px;
}


/*MAIN TITLE*/
.title {
  text-align: center;
}


.title h2 {
  text-transform: uppercase;
  font-size: 4rem;
}


.title h2 span {
  color: var(--color-blue-2);
}


.title h2 .bg-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
  color: var(--color-grey-5);
  z-index: -1;
  /* transition: all .4s ease-in-out; */
}


section {
  position: absolute;
  width: 100%;
  /* min-height: 100vh; */
  padding: 3rem 18rem;
}


/* ABOUT */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  /* padding-bottom: 5rem; */
}


.about-container .left-about {
  padding-right: 5rem;
}


.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}


.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem 1rem 1rem 0;
  color: var(--color-grey-1);
}


.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}


.about-container .right-about .about-item {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}


.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-grey-5);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 1);
}


.about-container .right-about .about-item .about-item__large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-green-1);
}


.about-container .right-about .about-item .about-item__small-text {
  position: relative;
  padding-left: 3rem;
  text-transform: uppercase;
  color: var(--color-grey-1);
  font-size: 1.2rem;
  letter-spacing: 2px;
}


.about-container .right-about .about-item .about-item__small-text::before {
  width: 2rem;
  height: 2px;
  position: absolute;
  content: '';
  left: 0;
  top: 15px;
  background-color: var(--color-grey-5);
}


/* STATS ABOUT */
.stat-container {
  padding-bottom: 5rem;
}


.stat-container .stat-container_title {
  padding: 0 0 3.5rem;
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
}


.stat-container .bars-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}


.stat-container .bars-container .progress-container {
  display: flex;
  flex-direction: column;
}


.stat-container .bars-container .progress-container .progress-title {
  text-transform: uppercase;
  font-weight: 500;
}


.stat-container .bars-container .progress-container .progress-bar {
  display: flex;
  align-items: center;
}


.stat-container .bars-container .progress-container .progress-bar .progress-text {
  color: var(--color-grey-2);
}


.stat-container .bars-container .progress-container .progress-bar .progress {
  width: 100%;
  height: .45rem;
  margin-left: 1rem;
  position: relative;
  background-color: var(--color-grey-4);
}


.stat-container .bars-container .progress-container .progress-bar .progress span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-green-1);
  transition: all .4s ease-in-out;
}


.stat-container .bars-container .progress-container .progress-bar .progress .python {
  width: 80%;
}


.stat-container .bars-container .progress-container .progress-bar .progress .javascript {
  width: 95%;
}


.stat-container .bars-container .progress-container .progress-bar .progress .html {
  width: 75%;
}


.stat-container .bars-container .progress-container .progress-bar .progress .css {
  width: 60%;
}


.stat-container .bars-container .progress-container .progress-bar .progress .java {
  width: 87%;
}


.stat-container .bars-container .progress-container .progress-bar .progress .postgreesql {
  width: 70%;
}


/* TIMELINE */ 

.timeline-container .timeline-container_title {
  padding: 0 0 3.5rem;
  position: relative;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* SEPARATORS */ 

.separator {
  width: 50%;
  margin: 100px auto;
  border: 2px solid var(--color-grey-5);
  border-radius: 4px;
  background-color: var(--color-grey-5);
}